---
layout: default
---
{% include next_prev.html %}
<h1>{{page.title}}</h1>
{%- if page.date -%}
<div style="font-size: 12px">
<p>Published on {{page.date}}</p>
</div>
{%- endif -%} 
<div class="overview">
  <span class="reading-time"></span>
  <span class="watch-time" data-watchtime="{{page.watchtime}}"></span>
  <!-- <span class="numQuestions"></span> -->
  <span class="numDiscussions"></span>
</div>
<div style="font-size: 12px">
  <p>Preparatory Readings:</p>
  <ul>
  {%- for node in page.reading -%}
    <li class="reading" data-reading="{{node}}"></p>
  {%- endfor -%}
  </ul>
</div>





{{content}}
<br/>
<br/>
<br/>
{% include next_prev.html %}


<style>
  
  body {
    counter-reset: blockquote;
  }

  /* block quote and link */
  svg.block-link{
    height: 10px;
    fill: #7253ed;
  }
  blockquote p {
    display: inline;
  }
  blockquote p::before {
  counter-increment: blockquote;
  content: counter(blockquote) ": ";
  }
  blockquote a.quote-link {
    display: inline;
  }
  .citation{
    font-size: 12px;
  }
  
  
/* video discuss anchor */
  .video {
    border-left: 2px solid purple;
    padding-left: 5px
  }
  .vda{
    font-style: italic;
    margin-top: 0px;
    padding-top: 0px;
  }
  .vda::after{
    content: "To discuss this video/image, highlight the 'discuss video/image anchor' text and annotate";
    display: none;
    font-size: 12px;
    position: absolute;
    background-color: black;
    color: white;
    box-shadow: 0px 1px 5px gray;
    padding: 10px;
    z-index: 1;
    width: 400px;
    opacity: .8;
    
  }
  .vda:hover::after{
    display: block;
  }
  /* example */
  .example{
    border-left: 2px solid purple;
    padding-left: 5px
  }
  .example::before{
    content: "Example: ";
    /*display: block;*/
    font-weight: bold;
  }


 /* discussion and respond */ 
  .discussion{
    border-left: 2px solid red;
    padding-left: 5px
  }

  .discussion::before{
    content: "Discussion: ";
    /*display: block;*/
    font-weight: bold;
  }
  .respond{
    border-left: 2px solid green;
    padding-left: 5px;
  }
  .respond::before{
    content: "Respond: ";
    font-style: italic;
    font-weight: bold;
  }
  .respond::after{
    content: "To respond generally to this discussion question, highlight the question prompt and then use the class annotation tool to leave your response. You can of course continue to highlight any part of the text and leave a comment specific to the selected text. You can also respond by directly annotating a comment already made by a classmate.";
    display: none;
    font-size: 12px;
    position: absolute;
    background-color: black;
    color: white;
    box-shadow: 0px 1px 5px gray;
    padding: 10px;
    z-index: 1;
    width: 400px;
    opacity: .8;
    
  }
  .respond:hover::after{
    display: block;
  }


/* question and rquestion (rhetorical question)*/
  .question, .rquestion{
    border-left: 2px solid blue;
    padding-left: 5px
  }
  
  .question::before, .rquestion::before{
    content: "Question: ";
    display: block;
    font-weight: bold;
  }
  
  .question::after{
    content: "click on question to toggle possible response";
    display: block;
    /* position: absolute; */
    /* background-color: black;
    color: white;
    box-shadow: 0px 1px 5px gray; */
    /* padding: 5px; */
    /* z-index: 1;
    opacity: .8; */
    font-size: 12px;
  }
  /* .question:hover::after{
    display: block;
  } */
  .answer{
    /*display: none;*/
    visibility: hidden;
    border-left: 2px solid blue;
    padding-left: 5px
  }
  .answer::before{
    content: "Possible Answer: ";
    display: block;
    font-weight: bold;
  }
  /* over view of reading time, etc */
  .overview{
    font-size: 12px;
  }
  </style>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

  <!-- uncomment if login is desired for main pages <script src="{{ '/assets/js/checkLogin.js' | absolute_url }}"></script> -->
  
  <script type="text/javascript">
  
  $(document).ready(function(){
    /* checkLogin(function(){console.log("login checked")});*/
  
    $(".question").click(function(){
      /* $(this).next(".answer").toggle();*/
      if ($(this).next(".answer").css("visibility") === "visible"){
        $(this).next(".answer").css("visibility", "hidden");
      }
      else{
        $(this).next(".answer").css("visibility", "visible");
      }
      
    });
    getReadingTime();

    
    $("blockquote, .discussion").each(function(i, v){
      const idval = $(this).attr("id");
      if (idval){
        $(this).prepend("<a href='#" + idval + "' class='quote-link'><svg class='block-link' viewBox='0 0 16 16'> <title>Link</title> <path fill-rule='evenodd' d='M4 9h1v1H4c-1.5 0-3-1.69-3-3.5S2.55 3 4 3h4c1.45 0 3 1.69 3 3.5 0 1.41-.91 2.72-2 3.25V8.59c.58-.45 1-1.27 1-2.09C10 5.22 8.98 4 8 4H4c-.98 0-2 1.22-2 2.5S3 9 4 9zm9-3h-1v1h1c1 0 2 1.22 2 2.5S13.98 12 13 12H9c-.98 0-2-1.22-2-2.5 0-.83.42-1.64 1-2.09V6.25c-1.09.53-2 1.84-2 3.25C6 11.31 7.55 13 9 13h4c1.45 0 3-1.69 3-3.5S14.5 6 13 6z'></path> </svg></a>");
      }
    });
    
    $(".discussion").each(function(i, v){
      const idval = $(this).attr("id");
      if (idval){
        $(this).append("<p style='font-size: 12px;'>(When you respond, use the tag: <span style='font-style: italic;'>" + idval + "</span> to group responses around this discussion. Remember, you can also use this tag anywhere else for annotations having to do with this discussion and then we can view them grouped together <a href='annotation-tags.html#" + idval + "'>here</a>)</p>")
      }
    });

    $(".reading, .citation").each(function(i, v){
      const _this = this;
      const readingid_and_trailing = $(this).attr("data-reading");
      const annotation_target = $(this).attr("data-annotation");
      const readingid = readingid_and_trailing.split("=>")[0];
      const url = "https://api.zotero.org/groups/2536930/items/" + readingid;
      $.get(url, function(d){
        const authors = d.data.creators.filter((c) => c.creatorType === "author");
        let author = "";
        if (authors.length > 1){
          author = authors[0].lastName + ", et al"
        }
        else if (authors.length > 0){
          author = authors[0].lastName;
        }
        else if (d.data.creators[0]){
          author = d.data.creators[0].lastName;
        }
        const title = d.data.title;
        const url = annotation_target ? annotation_target : d.data.url;
        const pages = d.data.pages ? ", pp. " + d.data.pages : "";
        const trailing = readingid_and_trailing.split("=>")[1] ? ", " + readingid_and_trailing.split("=>")[1] : "";
        const insert = url ? "<a href='" + url + "' target='_blank'>" + author + ", " + title + pages + trailing + "</a>" : author + ", " + title + pages + trailing;
        $(_this).html(insert);
      });
    });
  });
  
  const getReadingTime = () => {
    const txt = $(".main-content")[0].textContent;
    const wordCount = txt.replace( /[^\w ]/g, "" ).split( /\s+/ ).length;
    const numQuestions = $(".question").length;
    const numDiscussions = $(".discussion").length;
    const readingTimeInMinutes = Math.floor(wordCount / 228) + 1;
    const readingTimeAsString = "Lesson Estimated Reading Time: " + readingTimeInMinutes + " mins";
    const watchtime = $('.watch-time').attr('data-watchtime');
    $('.reading-time').html(readingTimeAsString);
    if (watchtime){
      $('.watch-time').html(" | Estimated Watch Time:: " + watchtime + " mins");
    }
    if (numQuestions > 0){
      $('.numQuestions').html(" | Number of Questions: " + numQuestions);
    }
    if (numDiscussions > 0){
      $('.numDiscussions').html(" | Number of Discussions: " + numDiscussions);
    }
  };
  
  </script>