---
layout: default
---
<div>
  <span class="reading-time">Estimated Reading Time: </span>
  | <span class="watch-time">Estimated Watch Time: {{page.watchtime}} mins</span>
  | <span class="numQuestions"></span>
  | <span class="numDiscussions"></span>
</div>
<h1>{{page.title}}</h1>

{{content}}


<style>

  body {
    counter-reset: blockquote;
  }
  blockquote p::before {
  counter-increment: blockquote;
  content: counter(blockquote) ": ";
  }

  .respond{
    border-left: 2px solid green;
    padding-left: 5px;
  }
  .respond::before{
    content: "Respond: ";
    font-style: italic;
    font-weight: bold;
  }
  .respond::after{
    content: "To respond generally to this discussion question, highlight the question prompt and then use the class annotation tool to leave your response. You can of course continue to highlight any part of the text and leave a comment specific to the selected text. You can also respond by directly annotating a comment already made by a classmate.";
    display: none;
    font-size: 12px;
    position: absolute;
    background-color: black;
    color: white;
    box-shadow: 0px 1px 5px gray;
    padding: 10px;
    z-index: 1;
    width: 400px;
    opacity: .8;
    
  }
  .respond:hover::after{
    display: block;
  }
  
  .discussion{
    border-left: 2px solid red;
    padding-left: 5px
  }

  .discussion::before{
    content: "Discussion: ";
    display: block;
    font-weight: bold;
  }

  .question{
    border-left: 2px solid blue;
    padding-left: 5px
  }
  
  .question::before{
    content: "Question: ";
    display: block;
    font-weight: bold;
  }
  
  .question::after{
    content: "click on question to toggle possible response";
    display: block;
    /* position: absolute; */
    /* background-color: black;
    color: white;
    box-shadow: 0px 1px 5px gray; */
    /* padding: 5px; */
    /* z-index: 1;
    opacity: .8; */
    font-size: 12px;
  }
  /* .question:hover::after{
    display: block;
  } */
  .answer{
    display: none;
    border-left: 2px solid blue;
    padding-left: 5px
  }
  .answer::before{
    content: "Possible Answer: ";
    display: block;
    font-weight: bold;
  }
  </style>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  
  <script type="text/javascript">
  
  $(document).ready(function(){
  
    $(".question").click(function(){
      $(this).next(".answer").toggle();
    });
    getReadingTime();
  
  });
  
  const getReadingTime = () => {
    const txt = $(".page-content")[0].textContent;
    const wordCount = txt.replace( /[^\w ]/g, "" ).split( /\s+/ ).length;
    const numQuestions = $(".question").length;
    const numDiscussions = $(".discussion").length;
    const readingTimeInMinutes = Math.floor(wordCount / 228) + 1;
    const readingTimeAsString = "Estimated Reading Time: " + readingTimeInMinutes + " mins";
    $('.reading-time').html(readingTimeAsString);
    if (numQuestions > 0){
      $('.numQuestions').html("Number of Questions: " + numQuestions);
    }
    if (numDiscussions > 0){
      $('.numDiscussions').html("Number of Discussions: " + numDiscussions);
    }
  }

 
  
  </script>
  